.mapContainer{
  position: relative;
  width: 100%;
  height: 80%;
  color: white;
}
.tag{
  position: absolute;
  color: rgb(255, 255, 255);
  text-shadow: rgb(0, 0, 0) 1px 0 10px;
}

.svg {
  width: 100%;
  height: 100%;
  fill: aliceblue;
  stroke: black;
}

.svg path {
  stroke-width: 0.5;
  position: relative;
}
.svg path:hover {
  cursor: pointer;
  stroke-width: 2.5;
  stroke: rgb(17, 240, 13);
}

.svg path:hover::after{
  content: 'HOLA';
  width: 100px;
  position: absolute;
  height: 100px;
  background-color: blue;}